ul{ float:left;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	font-family: Georgia , Serif;
}

ul li{
	list-style: none;
	margin-left: 62px;
	margin-top: 27px;
	font-size: 14px;
}
h1 { color: white;
     text-shadow: 4px 4px 4px #666;
	 font-size: 40px;
}
	

h3{
	Color: black;
	font-size: 24px;
	font-family: Georgia, Serif;
	text-align:left;
	
	
}
.column{
	float : left;
	width: 35px;
	padding: 6px;
}

.row::after{
	content:"";
	clear : both;
	display: table;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Georgia,Serif;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
	